body {
  background-color: #c8c8c8;
  color: black;
  padding-top: clamp(11.73px, 1.528vw, 39.11px);
  font-family: var(--font-arial);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
}

body.noscroll {
  overflow: hidden;
}

.hidden {
  opacity: 0 !important;
}

.header {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: clamp(38px, 4.95vw, 126.72px);
  margin-bottom: 10vw;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: clamp(126.72px, 16.5vw, 422.4px);
  padding-left: clamp(19.2px, 2.5vw, 64px);
}

.sidebar-logo {
  display: flex;
  flex-direction: column;
  gap: clamp(4.56px, 0.594vw, 15.2px);
}

.sidebar-logo-img {
  width: clamp(136.53px, 17.78vw, 455.168px);
  height: clamp(23.46px, 3.05vw, 78px);
}

.sidebar-logo-list {
  font-size: clamp(6.4px, 0.833vw, 21.33px);
  line-height: 111%;
  font-weight: bold;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: clamp(26.67px, 3.472vw, 88.89px);
  position: sticky;
  top: clamp(11.73px, 1.528vw, 39.11px);
  padding-left: clamp(6.4px, 0.83vw, 21.25px);
}

.sidebar-nav-list {
  display: flex;
  flex-direction: column;
  font-size: clamp(12.8px, 1.667vw, 42.67px);
  line-height: 80%;
  gap: clamp(4.6px, 0.6vw, 15.36px);
  font-weight: bold;
}

.sidebar-nav-list li a {
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease;
}

.sidebar-nav-list li a.active {
  border-color: black;
}

@media (hover: hover) {
  .sidebar-nav-list li a:hover {
    border-color: black;
  }
}

.sidebar-search {
  position: relative;
}

.sidebar-search::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: clamp(2.67px, 0.347vw, 8.89px);
  transform: translateY(-50%);
  width: clamp(11.2px, 1.458vw, 37.33px);
  height: clamp(11.2px, 1.458vw, 37.33px);
  background: url(/assets/icons/search.svg) center/contain no-repeat;
}

.sidebar-search input {
  background-color: black;
  color: #c8c8c8;
  border: none;
  outline: none;
  height: clamp(17.07px, 2.222vw, 56.89px);
  width: clamp(122.67px, 15.972vw, 408.89px);
  border-radius: clamp(4.27px, 0.556vw, 14.22px);
  padding-left: clamp(16px, 2.083vw, 53.33px);
  font-size: clamp(7.47px, 0.972vw, 24.89px);
}

.sidebar-search input::placeholder {
  color: white;
}

.sidebar-contacts {
  display: flex;
  flex-direction: column;
  gap: clamp(6.4px, 0.833vw, 21.33px);
  font-size: clamp(7.47px, 0.972vw, 24.89px);
  font-weight: bold;
}

.sidebar-social img {
  width: clamp(33.07px, 4.306vw, 110.22px);
  height: clamp(10.67px, 1.389vw, 35.56px);
}

.sidebar-close-btn {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: clamp(18.67px, 2.431vw, 62.22px);
  justify-content: center;
  padding-top: 7vw;
}

.title {
  font-size: clamp(12.8px, 1.667vw, 42.67px);
}

.content {
  max-width: 95%;
  display: flex;
  flex-direction: column;
  gap: clamp(10.67px, 1.389vw, 35.56px);
  font-size: clamp(7.47px, 0.972vw, 24.89px);
}

.subtitle {
  font-size: clamp(9.6px, 1.25vw, 32px);
}

@media screen and (max-width: 768px) {
  body {
    align-items: center;
    gap: clamp(30.93px, 5.333vw, 40.96px);
    padding-top: clamp(18.56px, 3.2vw, 24.58px);
    justify-content: flex-start;
  }

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: clamp(7.73px, 1.333vw, 10.24px);
    padding-inline: clamp(24.75px, 4.267vw, 32.77px);
  }

  .header-logo {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  .header-logo-img {
    width: clamp(197.97px, 34.133vw, 262.14px);
    height: clamp(34.8px, 6vw, 46.08px);
  }

  .header-logo-list {
    display: flex;
    font-size: clamp(6.96px, 1.2vw, 9.22px);
    font-weight: 400;
    justify-content: space-between;
  }

  .header-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-btn {
    background-color: transparent;
    border: none;
    font-size: clamp(18.56px, 3.2vw, 24.58px);
    line-height: 80%;
    font-weight: bold;
    height: 1.15em;
  }

  .header-btn.active {
    border-bottom: clamp(0.77px, 0.133vw, 1.02px) solid var(--color-dark);
  }

  .sidebar {
    position: fixed;
    width: 100%;
    height: calc(100dvh - clamp(88.93px, 15.333vw, 117.76px));
    padding: 0;
    top: clamp(88.93px, 15.333vw, 117.76px);
    left: 0;
    background-color: #c8c8c8;
    display: none;
    z-index: 100;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    padding-bottom: clamp(23.2px, 4vw, 30.72px);
  }

  .sidebar.active .sidebar-content {
    margin-block: auto;
  }

  .sidebar.active {
    display: flex;
  }

  .sidebar-content {
    width: 100%;
    align-items: center;
    padding-inline: clamp(24.75px, 4.267vw, 32.77px);
  }

  .sidebar-nav-list {
    width: 100%;
    font-size: clamp(18.56px, 3.2vw, 24.58px);
    align-items: center;
  }

  .sidebar-nav-inner-list {
    display: none;
  }

  .sidebar-search::before {
    width: clamp(18.56px, 3.2vw, 24.58px);
    height: clamp(18.56px, 3.2vw, 24.58px);
  }

  .sidebar-search input {
    width: clamp(177.87px, 30.667vw, 235.52px);
    height: clamp(24.75px, 4.267vw, 32.77px);
    padding-left: clamp(23.2px, 4vw, 30.72px);
    font-size: clamp(12.37px, 2.133vw, 16.38px);
  }

  .sidebar-logo {
    display: none;
  }

  .sidebar-contacts {
    display: none;
  }

  .sidebar-close-btn {
    display: inline-block;
    background-color: transparent;
    border: none;
  }

  .sidebar-close-btn {
    align-self: flex-start;
  }

  .sidebar-close-btn img {
    width: clamp(12.37px, 2.133vw, 16.38px);
    height: clamp(12.37px, 2.133vw, 16.38px);
  }

  .container {
    width: 100%;
    grid-template-columns: 1fr;
    padding-inline: clamp(24.75px, 4.267vw, 32.77px);
  }

  .main {
    gap: clamp(27.07px, 4.667vw, 35.84px);
    justify-content: flex-start;
    padding-top: 0;
  }

  .title {
    font-size: clamp(18.56px, 3.2vw, 24.58px);
  }

  .subtitle {
    font-size: clamp(13px, 2.4vw, 19px);
  }

  .content {
    gap: clamp(15.47px, 2.667vw, 20.48px);
    font-size: clamp(10.83px, 1.867vw, 14.34px);
  }

  .footer {
    height: clamp(19.3px, 3.33vw, 25.6px);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 200;
  }

  .footer-copyright {
    display: none;
  }

  .footer-contacts {
    width: 100%;
    justify-content: space-between;
    gap: 0;
    font-size: clamp(8.5px, 1.46vw, 11.3px);
    line-height: 1em;
  }

  .footer-contacts img {
    width: clamp(31px, 5.3vw, 42px);
    height: clamp(10px, 1.73vw, 13.5px);
  }
}

@media screen and (max-width: 580px) {
  body {
    gap: clamp(40px, 12vw, 68px);
    padding-bottom: clamp(25.6px, 8vw, 46.6px);
  }

  .header {
    width: fit-content;
  }

  .header-logo-img {
    width: clamp(218.45px, 68.267vw, 395.95px);
    height: clamp(38.4px, 12vw, 69.6px);
  }

  .header-logo-list {
    font-size: clamp(7.68px, 2.4vw, 13.92px);
  }

  .header-btn {
    font-size: clamp(20.48px, 6.4vw, 37.12px);
  }

  .container {
    padding-inline: clamp(12.8px, 4vw, 23.2px);
  }

  .filters-modal.active,
  .sidebar.active {
    top: clamp(98.13px, 29.5vw, 177.87px);
    overflow-y: scroll;
    padding-bottom: 30vw;
  }

  .sidebar-nav-list {
    font-size: clamp(20.48px, 6.4vw, 37.12px);
  }

  .sidebar-search input {
    width: clamp(196.27px, 61.333vw, 355.73px);
    height: clamp(27.31px, 8.533vw, 49.49px);
    padding-left: clamp(27.31px, 8.533vw, 49.49px);
    font-size: clamp(13.63px, 4.26vw, 24.8px);
  }

  .sidebar-search::before {
    width: clamp(20.48px, 6.4vw, 37.12px);
    height: clamp(20.48px, 6.4vw, 37.12px);
    left: clamp(5.12px, 1.6vw, 9.28px);
  }

  .sidebar-close-btn {
    align-self: center;
  }

  .sidebar-close-btn img {
    width: clamp(8.53px, 2.667vw, 15.47px);
    height: clamp(8.53px, 2.667vw, 15.47px);
  }

  .main {
    gap: clamp(27.31px, 8.533vw, 49.49px);
  }

  .title {
    font-size: clamp(20.48px, 6.4vw, 37.12px);
  }

  .content {
    gap: clamp(17.07px, 5.333vw, 30.93px);
    font-size: clamp(11.95px, 3.733vw, 21.65px);
  }

  .subtitle {
    font-size: clamp(15.36px, 4.8vw, 27.84px);
  }

  .footer {
    height: clamp(25.6px, 8vw, 46.6px);
  }

  .footer-contacts {
    font-size: clamp(10.24px, 3.2vw, 18.56px);
  }

  .footer-social img {
    width: clamp(34px, 10.67vw, 62px);
    height: auto;
  }
}
