@font-face {
  font-family: "Calibri";
  src: url(/assets/font/Calibri-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

ul,
ol {
  list-style: none;
}

:root {
  --font-arial: Arial, Helvetica, sans-serif;
  --font-calibri: "Calibri";
  --color-light: #ebecec;
  --color-grey: #595b61;
  --color-dark: #2c2e35;
  --color-pink: #ffadb2;
}

.footer {
  font-family: var(--font-arial);
  font-weight: bold;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: clamp(28px, 2vw, 50px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: clamp(28px, 2vw, 50px);
  background-color: var(--color-light);
  color: var(--color-dark);
  font-size: clamp(11px, 0.78vw, 20px);
  line-height: 100%;
}

.footer-contacts {
  display: flex;
  align-items: center;
  gap: clamp(60px, 4.28vw, 110px);
}

.footer-social img {
  width: clamp(40px, 2.85vw, 73px);
  height: clamp(13px, 1vw, 25px);
}

@media screen and (max-width: 768px) {
  .footer-copyright {
    display: none;
  }
  .footer-contacts {
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }
}
